@keyframes glow {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

@keyframes glow-r {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse {
    0% {transform: scale(1.00);}
    50% {transform: scale(1.02);}
    100% {transform: scale(1.00);}
}



body {
    overflow-x: hidden;
}

.SS {
    background: #fff200;
    background: linear-gradient(90deg, rgba(255, 242, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.buttonmm {
    width: 120px;
    height: 40px;
    border-radius: 10%;
    background: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(90deg, rgba(247, 255, 0, 1) 0%, rgba(255, 94, 0, 1) 35%, rgba(255, 0, 0, 1) 65%, rgba(255, 0, 255, 1) 100%);
    background-size: 300% 100%;
    background-position: 100% 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonmm:hover {
    animation: glow 2s linear infinite;
    box-shadow: 0 0 20px rgb(0, 225, 255);
}

.buttonmm:active {
    color: rgb(203, 203, 203);
    box-shadow: 0 0 45px rgb(0, 225, 255);
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    scale: 1.05;
}

.buttoni {
    width: 120px;
    height: 40px;
    border-radius: 10%;
    background: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(90deg, rgba(247, 255, 0, 1) 0%, rgba(255, 94, 0, 1) 35%, rgba(255, 0, 0, 1) 65%, rgba(255, 0, 255, 1) 100%);
    background-size: 300% 100%;
    background-position: 100% 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.buttoni:hover {
    animation: glow 2s linear infinite;
    box-shadow: 0 0 20px rgb(0, 225, 255);
}

.buttoni:active {
    color: rgb(203, 203, 203);
    box-shadow: 0 0 45px rgb(0, 225, 255);
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    scale: 1.05;
}

.d-m {
    background: #ff0000;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 251, 0, 1) 86%);
    width: 220px;
    margin-left: 1235px;
    top: 206px;
    position: absolute;
    border: 3px solid black;
    border-radius: 7px;
    height: 96px;
    transition: all 0.3s;
    
}

.d-m::before {
    content: "";
    position: absolute;
    inset: -5px;
    z-index: -1;
    background: #ff0000;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(199, 12, 186, 1) 36%, rgba(45, 97, 210, 1) 65%, rgba(0, 200, 255, 1) 100%);
    background-size: 200% 200%;
    filter: blur(15px);
    opacity: 0.8;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.d-m:hover::before {
    opacity: 1;
    inset: -10px;
    filter: blur(25px);
    animation: glow 3s linear infinite;
}

.text-d-s {
    margin-top: 6px;
    font-size: 20px;
}

.ul-d {
    margin-top: -25px;
    margin-left: -12px;
}

.att-s {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(248, 102, 218, 1) 28%, rgba(87, 0, 209, 1) 59%, rgba(45, 97, 210, 1) 75%, rgba(0, 200, 255, 1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 5s linear infinite;
}

.btn-r {
    background: linear-gradient(135deg, #00f2ff, #0072ff, #7000ff, #ff00c8, #00f2ff);
    width: 165px;
    height: 55px;
    box-shadow: 0 0 10px rgb(0, 34, 255);
    background-size: 400% 400%;
    animation: glow-r 6s ease infinite;
    border-radius: 7px;
    transition: all 0.3s;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

.btn-r:hover {
    box-shadow: 0 0 25px rgb(0, 34, 255);
}

.btn-r:active {
    scale: 1.05;
    filter: brightness(0.9);
    box-shadow: 0 0 35px rgb(0, 34, 255);
}

.t-i {
    background: linear-gradient(90deg, rgba(255, 242, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 5s linear infinite;
}

.t-i-2 {
    background: radial-gradient(circle, rgba(14, 212, 0, 1) 28%, rgba(13, 0, 255, 1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 5s linear infinite;
    font-size: 1.2em;
}

.t-i-3 {
    background: radial-gradient(circle, rgba(184, 150, 0, 1) 34%, rgba(255, 0, 0, 1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 5s linear infinite;
    font-size: 1.2em;
}

.t-i-duarel {
    background: linear-gradient(135deg, #00f2ff, #0072ff, #7000ff, #ff00c8, #00f2ff);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow-r 5s ease infinite;
}

.t-i-4 {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(248, 102, 218, 1) 28%, rgba(87, 0, 209, 1) 59%, rgba(45, 97, 210, 1) 75%, rgba(0, 200, 255, 1) 100%);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow-r 4s ease infinite;
}

.t-i-m {
    background: radial-gradient(circle, rgba(0, 183, 255, 1) 15%, rgba(0, 255, 115, 1) 47%, rgba(255, 234, 0, 1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 5s linear infinite;
}

.t-i-m-2 {
    background: radial-gradient(circle, rgba(0, 183, 255, 1) 5%, rgba(0, 4, 255, 1) 36%, rgba(207, 0, 0, 1) 75%, rgba(0, 255, 119, 1) 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 5s linear infinite;
}

.t-i-m-2-2 {
    background: radial-gradient(circle, #00f2ff, #0072ff, #7000ff, #ff00c8, #00f2ff);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow-r 7s linear infinite;
}

.t-i-m-2-3 {
    background: radial-gradient(circle, rgb(255, 115, 0) 15%, rgb(255, 0, 119) 47%, rgba(255, 234, 0, 1) 100%);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow-r 7s linear infinite;
}

.t-i-m-3 {
    background: linear-gradient(90deg, rgba(0, 183, 255, 1) 5%, rgba(0, 51, 217, 1) 52%, rgba(0, 255, 17, 1) 100%);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 5s linear infinite;
}

.t-i-m-3-2 {
    background: linear-gradient(90deg, rgba(4, 255, 0, 1) 0%, rgba(217, 199, 0, 1) 49%, rgba(0, 221, 255, 1) 100%);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow 5s linear infinite;
}

.t-i-m-4 {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(0, 217, 163, 1) 49%, rgba(255, 0, 200, 1) 100%);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow-r 6s ease infinite;
}

.t-i-5 {
    animation: pulse 2s linear infinite;
    color: red;
}

.t-i-l {
    background: linear-gradient(90deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #8000ff, #ff00ff);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: glow-r 6s ease infinite;
    font-size: 55px;
}

.buttonp {
    width: 140px;
    height: 40px;
    border-radius: 10%;
    background: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(90deg, rgba(247, 255, 0, 1) 0%, rgba(255, 94, 0, 1) 35%, rgba(255, 0, 0, 1) 65%, rgba(255, 0, 255, 1) 100%);
    background-size: 300% 100%;
    background-position: 100% 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
}