@keyframes glow {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}



.SS {
    background: #fff200;
    background: linear-gradient(90deg, rgba(255, 242, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.buttonmm {
    width: 120px;
    height: 40px;
    border-radius: 10%;
    background: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(90deg, rgba(247, 255, 0, 1) 0%, rgba(255, 94, 0, 1) 35%, rgba(255, 0, 0, 1) 65%, rgba(255, 0, 255, 1) 100%);
    background-size: 300% 100%;
    background-position: 100% 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonmm:hover {
    animation: glow 2s linear infinite;
    box-shadow: 0 0 20px rgb(0, 225, 255);
}

.buttonmm:active {
    color: rgb(203, 203, 203);
    box-shadow: 0 0 45px rgb(0, 225, 255);
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    scale: 1.05;
}

.buttoni {
    width: 120px;
    height: 40px;
    border-radius: 10%;
    background: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(90deg, rgba(247, 255, 0, 1) 0%, rgba(255, 94, 0, 1) 35%, rgba(255, 0, 0, 1) 65%, rgba(255, 0, 255, 1) 100%);
    background-size: 300% 100%;
    background-position: 100% 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.buttoni:hover {
    animation: glow 2s linear infinite;
    box-shadow: 0 0 20px rgb(0, 225, 255);
}

.buttoni:active {
    color: rgb(203, 203, 203);
    box-shadow: 0 0 45px rgb(0, 225, 255);
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    scale: 1.05;
}

.d-m {
    background: #ff0000;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 251, 0, 1) 86%);
    width: 220px;
    margin-left: 1235px;
    top: 206px;
    position: absolute;
    border: 3px solid black;
    border-radius: 7px;
    height: 96px;
    transition: all 0.3s;
    
}

.d-m::before {
    content: "";
    position: absolute;
    inset: -5px;
    z-index: -1;
    background: #ff0000;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(199, 12, 186, 1) 36%, rgba(45, 97, 210, 1) 65%, rgba(0, 200, 255, 1) 100%);
    background-size: 200% 200%;
    filter: blur(15px);
    opacity: 0.8;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.d-m:hover::before {
    opacity: 1;
    inset: -10px;
    filter: blur(25px);
    animation: glow 3s linear infinite;
}

.text-d-s {
    margin-top: 6px;
    font-size: 20px;
}

.ul-d {
    margin-top: -25px;
    margin-left: -12px;
}